/* editor style */

.editor {
  background-color: #fff;
  border: 3px solid #0d0d0d;
  border-radius: 0.75rem;
  color: #0d0d0d;
  display: flex;
  flex-direction: column;
  max-height: 26rem;
  height: 500px;
}

.editor-header {
  align-items: center;
  background: #0d0d0d;
  border-bottom: 3px solid #0d0d0d;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  padding: 0.25rem;
}

.editor-content {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0rem 1rem 0.5rem;
  -webkit-overflow-scrolling: touch;
}

.divider {
  background-color: #ffffff40;
  height: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 0.75rem;
  width: 1px;
}

.menu-item {
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  height: 1.75rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
  width: 1.75rem;
}

.menu-item:hover,
.is-active {
  background-color: #303030;
}

.menu-item i {
  fill: currentColor;
  height: 100%;
  width: 100%;
}
