.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.mainWrapper {
  flex: 1;
  overflow: auto;
  padding-bottom: 60px; /* footer 높이만큼 여백 추가 */
}

.main {
  padding: 20px;
  padding-top: 30px;
}

.contents {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.footer {
  background-color: #f0f0f0;
  color: #aaa;
  text-align: center;
  padding: 10px;
  height: 40px; /* footer 높이 지정 */
  margin-top: auto;
}
