.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  z-index: 1000;
}

.body {
  flex: 1; /* 남은 공간을 채우도록 설정 */
  padding: 20px;
  padding-top: 100px;
}

.contents {
  margin: 0 auto; /* 가운데 정렬을 위해 margin 사용 */
  max-width: 800px; /* 최대 너비 설정 (예시 값) */
  padding: 0 20px; /* 양쪽 여백 설정 */
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
